@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1b2c37;
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", Helvetica, sans-serif;
}

canvas {
    user-select: none;
}

.game {
    overflow: hidden;
    border-radius: 16px;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.15);
    background-color: #1b2c37;
}

button {
    appearance: none;
    outline: none;
    border: none;
    color: #1b2c37;
    padding: 16px 32px;
    border-radius: 8px;
    background-color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

.logo {
    width: 150px;

    &__type,
    &__hat,
    &__letters {
        opacity: 0;
        transform: translateX(0);
    }

    &__type {
        animation: slideInFromLeft 1s ease-in-out forwards;
    }

    &__letters {
        animation: slideInFromRight 1s ease-in-out 1s forwards;
    }

    &__hat {
        animation: fadeIn 1s ease-in 2s forwards;
    }
}

.loader {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;

    color: white;
    text-align: center;

    &__title {
        font-size: 4.5rem;
        letter-spacing: 1px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        max-width: 40rem;
        gap: 16px;
        padding: 16px;
        text-align: left;
    }

    &__description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 8px;

        font-size: 0.7rem;
        color: rgb(201, 201, 201);
    }
}
.header {
    width: 100%;
    max-width: 1024px;
    padding: 24px;
}

.content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.typed-cursor {
    font-weight: 100;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b2c37;

    &__header {
        width: 100%;

        svg {
            width: 100px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
        padding: 16px;
        min-width: 30rem;
        min-height: 50%;
        background-color: white;
        border-radius: 16px;
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #1b2c37;
        font-size: 3rem;
        font-weight: bold;
        flex-grow: 1;
    }

    &__buttons {
        display: flex;
        gap: 24px;
    }

    &__anchor {
        display: inline-flex;
        align-items: center;
        gap: 4px;
        text-decoration: none;
        color: #1b2c37;
        font-size: 0.8rem;
        font-weight: 500;
    }

    &__social {
        width: 100%;
        display: flex;
        justify-content: space-around;
        gap: 8px;
        padding: 8px;

        border-top: 1px solid #1b2c3741;
        border-bottom: 1px solid #1b2c3741;
    }

    &__buttons {

        button {
            background-color: #1b2c37;
            color: white;

            &:first-child {
                background-color: transparent;
                color: #1b2c37;
                border: 1px solid #1b2c37;
            }
        }
    }
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: rotate(2deg);
    }
}

@media screen and (max-width: 1024px) {
    .header {
        display: none;
    }

    .loader {
        &__title {
            font-size: 2rem;
        }
    }

    .game {
        transform: scale(0.6);
        width: 100%;
    }
}
